./HUA.IndicacionesDeLaboratorio/.vs
./HUA.IndicacionesDeLaboratorio/bin
./HUA.IndicacionesDeLaboratorio/obj


*.v2
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/FileContentIndex/1a2658d7-79d7-4042-9947-70be96ab4170.vsidx
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/FileContentIndex/2950b85f-0736-4c77-b5e5-fee4b6d5dc74.vsidx
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/FileContentIndex/5d5a7ef2-28fa-466f-af84-7ada617fdf7e.vsidx
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/FileContentIndex/72e24486-eef0-4932-abc4-193a2e7b4279.vsidx
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/FileContentIndex/a3c9d1be-44e4-490c-8454-48d2cf85e0f1.vsidx
*.vsidx
*.vsidx
*.v2
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/v17/.suo
*.1
*.1
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.lock
*.cache
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/v17/.suo
*.cache
*.cache
*.editorconfig
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Business/obj/HUA.IndicacionesDeLaboratorio.Business.csproj.nuget.dgspec.json
*.props
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Business/obj/project.assets.json
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Business/obj/project.nuget.cache
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Data/obj/Debug/net6.0/HUA.IndicacionesDeLaboratorio.Data.assets.cache
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Data/obj/Debug/net6.0/HUA.IndicacionesDeLaboratorio.Data.csproj.AssemblyReference.cache
*.editorconfig
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Data/obj/HUA.IndicacionesDeLaboratorio.Data.csproj.nuget.dgspec.json
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Data/obj/HUA.IndicacionesDeLaboratorio.Data.csproj.nuget.g.props
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.Data/obj/project.assets.json
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.WebAPI/obj/Debug/net6.0/HUA.IndicacionesDeLaboratorio.WebAPI.assets.cache
*.editorconfig
*.json
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.WebAPI/obj/HUA.IndicacionesDeLaboratorio.WebAPI.csproj.nuget.g.props
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.WebAPI/obj/project.assets.json
HUA.IndicacionesDeLaboratorio/HUA.IndicacionesDeLaboratorio.WebAPI/obj/project.nuget.cache
*.v2
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/v17/.suo
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/v17/.suo
*.1
*.dll
*.pdb
*.cache
HUA.IndicacionesDeLaboratorio/.vs/ProjectEvaluation/hua.indicacionesdelaboratorio.projects.v6.1
HUA.IndicacionesDeLaboratorio/.vs/HUA.IndicacionesDeLaboratorio/v17/.suo
HUA.IndicacionesDeLaboratorio/.vs/ProjectEvaluation/hua.indicacionesdelaboratorio.metadata.v6.1
HUA.IndicacionesDeLaboratorio/.vs/ProjectEvaluation/hua.indicacionesdelaboratorio.projects.v6.1
*.v2
UTN_ABM/.vs/UTN_ABM/v17/.suo
